.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    height: 100vh;
}

.notfound__head {
    font-size: 42px;
    font-family: 'Lato', sans-serif;
}

.leaflet-div-icon-for-city {
    font-size: 16px;
    font-weight: bold;
    background-color: #e38d2d;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: #333;
}

.leaflet-div-icon-for-city--chosen {
    background-color: #2196f3;
    animation: flipColor infinite 2s;
}

.leaflet-div-icon-for-city--route{
    background-color: #fff;
}

@keyframes flipColor {
    from {
        background-color: #fff;
    }
    50% {
        background-color: #2196f3;
    }
    to {
        background-color: #fff;
    }
}

.error-field{
    border: 3px solid red;
    background-color: rgba(255, 23, 23, 0.1);
}

.error{
    font-size:16px;
    color: red;
}

.error-hidden{
    display: none;
}