.error-field {
    border: 3px solid red;
    background-color: rgba(255, 23, 23, 0.1);
}

.error {
    font-size: 16px;
    color: red;
}

.error-hidden {
    display: none;
}

.error-field--onlyBorder {
    background-color: #fff;
}

.error-password-container {
    margin-left: 30px;
}
